html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
a, a:visited {
  text-decoration: none;
  color: inherit;
}
canvas {
  display: block;
  vertical-align: bottom;
  opacity: 0.8;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
header {
  position: relative;
  background: #1fa2da;
  z-index: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background: rgba(44,73,84,1);
  background: -moz-linear-gradient(top, rgba(44,73,84,1) 0%, rgba(31,162,218,1) 58%, rgba(31,162,218,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,73,84,1)), color-stop(58%, rgba(31,162,218,1)), color-stop(100%, rgba(31,162,218,1)));
  background: -webkit-linear-gradient(top, rgba(44,73,84,1) 0%, rgba(31,162,218,1) 58%, rgba(31,162,218,1) 100%);
  background: -o-linear-gradient(top, rgba(44,73,84,1) 0%, rgba(31,162,218,1) 58%, rgba(31,162,218,1) 100%);
  background: -ms-linear-gradient(top, rgba(44,73,84,1) 0%, rgba(31,162,218,1) 58%, rgba(31,162,218,1) 100%);
  background: linear-gradient(to bottom, rgba(44,73,84,1) 0%, rgba(31,162,218,1) 58%, rgba(31,162,218,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4954', endColorstr='#1fa2da', GradientType=0 );
  background-size: 200%;
}

.logo {
  position: fixed;
  top: 24vh;
  left: 50%;
  margin-left: -160px;
  width: 320px;
  line-height: 240px;
  height: 220px;
  background: #FFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.pllax-bk {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: url('https://unsplash.it/1920/1080/?random');
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  width: 100%;
  height: 150vh;
  /*animation-name: zoomback;
  -webkit-animation-name: zoomback;
  -moz-animation-name: zoomback;
  -o-animation-name: zoomback;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;*/
}
@keyframes zoomback {0% {opacity: 0; top: -30px;}100% {opacity: 0.7; top: 0px;}}
-webkit-keyframes zoomback {0% {opacity: 0; top: -30px;}100% {opacity: 0.7; top: 0px;}}
-moz-keyframes zoomback {0% {opacity: 0; top: -30px;}100% {opacity: 0.7; top: 0px;}}
-o-keyframes zoomback {0% {opacity: 0; top: -30px;}100% {opacity: 0.7; top: 0px;}}


.container {
  width: 60%;
  max-width: 60%;
  margin: 0 auto;
}
.center {text-align: center;}
h3 {
  color: #1fa2da;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.8px;
  margin: 15px auto;
}
.main-text {
  color: #666666;
  font-size: 22px;
  font-weight: 100;
  width: 700px;
  line-height: 29px;
  max-width: 100%;
  margin: 0 auto;
}
strong {
  font-weight: 600;
}
section {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: #FFF;
  padding: 100px 0px;
  min-height: 1500px;
}
.smart-wrap {
  position: relative;
  margin: 0 auto;
  width: 85%;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective: 1000px;
  -moz-perspective-origin: 50% 0;
  perspective: 1000px;
  perspective-origin: 50% 0;
  perspective: 1000px;
  perspective-origin: 50% 0;
  padding: 0;
  height: 95px;
  display: block;
  margin-top: -94px;
}
.smart-bar {
  padding: 0 0;
  background: #FFF;
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 95px;
  height: 95px;
  -webkit-box-shadow: 0px -8px 21px -11px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -8px 21px -11px rgba(0,0,0,0.3);
  box-shadow: 0px -8px 21px -11px rgba(0,0,0,0.3);
  backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 0px 115px;
  -webkit-transform-origin: 0px 115px;
  -moz-transform-origin: 0px 115px;
  -o-transform-origin: 0px 115px;
}
.section-shadow {
  -webkit-box-shadow: 0px -4px 45px -6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -4px 45px -6px rgba(0,0,0,0.3);
  box-shadow: 0px -4px 45px -6px rgba(0,0,0,0.3);
}











.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}



.col {
	display: block;
	float:left;
	margin: 0% 0 0% 0%;
}
.col:first-child { margin-left: 0; }
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; }
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 50%;
}
.span_1_of_3 {
	width: 50%;
}
.span_3 {
	width: 33.33%;
}

.behindov {
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  z-index: 997;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  -webkit-transition: all 1100ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -moz-transition: all 1100ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -o-transition: all 1100ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transition: all 1100ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.appear {
  opacity: 1;
  pointer-events: all;
}
nav {
  position: fixed;
  top: 0px;
  left: -50%;
  width: 50%;
  background: #FFF;
  z-index: 998;
  -webkit-transition: all 700ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all 700ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all 700ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 700ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  height: 100vh;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
nav ul {
  list-style-type: none;
  color: #1fa2da;
  position: relative;
  margin: 0px auto;
  width: 75%;
  font-size: 26px;
  font-weight: 100;
  letter-spacing: 2px;
  top: 12.5%;
  opacity: 0;
  -webkit-transition: all 950ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -moz-transition: all 950ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -o-transition: all 950ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition: all 950ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -o-transform: translateX(50px);
  transform: translateX(50px);
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
}
nav li {
  padding: 25px 0px;
}
.bringmenu {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
.opennav {
  left: 0px;
  -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -o-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.navigation {
  position: fixed;
  top: 40%;
  left: 0%;
  z-index: 999;
  background: rgba(255,255,255,1);
  height: auto;
  width: 125px;
  height: 150px;
  padding: 15px;
  text-align: right;
  -webkit-transition: all 420ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -moz-transition: all 420ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -o-transition: all 420ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition: all 420ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  cursor: pointer;
  border-left: none;
  transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navisopen {
  left: -35px;
  box-shadow: none;
  -webkit-box-shadow: none;
  background: rgba(255,255,255,0);
}
.icon-wrap {
  display:inline-block;
  cursor: pointer;
}

.menubox {
  stroke:#1fa2da;
  stroke-linecap:round;
  stroke-width:100;
}
path.x {
  stroke-dashoffset:-1490;
  stroke-dasharray:840 2000;
  stroke-miterlimit:10;
}
path.o {
  stroke-dashoffset:1700;
  stroke-dasharray:2520 3000;
  stroke-miterlimit:10;
}
path.yy {
  stroke-dashoffset:1700;
  stroke-dasharray:2520 3000;
  transition: 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition: 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition: 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition: 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

}
.toClose path.yy {
  stroke-dashoffset:-1200;
  transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

}
path.x2 {
  transform:rotate(0deg) translateX(0px);
  -webkit-transform:rotate(0deg) translateX(0px);
  -moz-transform:rotate(0deg) translateX(0px);
  -o-transform:rotate(0deg) translateX(0px);
  transform-origin:right center;
  -webkit-transform-origin:right center;
  -moz-transform-origin:right center;
  -o-transform-origin:right center;
  transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

}
.toClose path.x2:first-of-type {
  transform:rotate(-45deg) translate(-80px, -80px);
  -webkit-transform:rotate(-45deg) translate(-80px, -80px);
  -moz-transform:rotate(-45deg) translate(-80px, -80px);
  -o-transform:rotate(-45deg) translate(-80px, -80px);

}
.toClose path.x2 {
  transform:rotate(45deg) translate(-80px, 80px);
  -webkit-transform:rotate(45deg) translate(-80px, 80px);
  -moz-transform:rotate(45deg) translate(-80px, 80px);
  -o-transform:rotate(45deg) translate(-80px, 80px);
  transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

}
circle {
  fill:transparent;
  transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

}
.toClose circle {
  fill:rgba(0,0,0,.3);
  transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

}
.toClose svg path.x {
  animation: toCloseX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -webkit-animation: toCloseX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -moz-animation: toCloseX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -o-animation: toCloseX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;

}
.toClose svg path.o {
  animation: toCloseO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -webkit-animation: toCloseO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -moz-animation: toCloseO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -o-animation: toCloseO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;

}
.toOpen svg path.x {
  animation: toOpenX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -webkit-animation: toOpenX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -moz-animation: toOpenX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -o-animation: toOpenX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;

}
.toOpen svg path.o {
  animation: toOpenO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -webkit-animation: toOpenO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -moz-animation: toOpenO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -o-animation: toOpenO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
}
@keyframes "toCloseX"{0%{stroke-dashoffset:-1490;}100%{stroke-dashoffset:0;}}
-webkit-keyframes "toCloseX"{0%{stroke-dashoffset:-1490;}100%{stroke-dashoffset:0;}}
-moz-keyframes "toCloseX"{0%{stroke-dashoffset:-1490;}100%{stroke-dashoffset:0;}}
-o-keyframes "toCloseX"{0%{stroke-dashoffset:-1490;}100%{stroke-dashoffset:0;}}
@keyframes "toOpenX"{0%{stroke-dashoffset:0;}100%{stroke-dashoffset:-1490;}}
-webkit-keyframes "toOpenX"{0%{stroke-dashoffset:0;}100%{stroke-dashoffset:-1490;}}
-moz-keyframes "toOpenX"{0%{stroke-dashoffset:0;}100%{stroke-dashoffset:-1490;}}
-o-keyframes "toOpenX"{0%{stroke-dashoffset:0;}100%{stroke-dashoffset:-1490;}}
@keyframes "toCloseO"{0%{stroke-dashoffset:1700;}100%{stroke-dashoffset:-1260;}}
-webkit-keyframes "toCloseO"{0%{stroke-dashoffset:1700;}100%{stroke-dashoffset:-1260;}}
-moz-keyframes "toCloseO"{0%{stroke-dashoffset:1700;}100%{stroke-dashoffset:-1260;}}
-o-keyframes "toCloseO"{0%{stroke-dashoffset:1700;}100%{stroke-dashoffset:-1260;}}
@keyframes "toOpenO"{0%{stroke-dashoffset:-1260;}100%{stroke-dashoffset:1700;}}
-webkit-keyframes "toOpenO"{0%{stroke-dashoffset:-1260;}100%{stroke-dashoffset:1700;}}
-moz-keyframes "toOpenO"{0%{stroke-dashoffset:-1260;}100%{stroke-dashoffset:1700;}}
-o-keyframes "toOpenO"{0%{stroke-dashoffset:-1260;}100%{stroke-dashoffset:1700;}}
.fillwhite {
  stroke: #FFF;
}


.mouse {
  background: #DEDEDE -webkit-linear-gradient(transparent 0%, transparent 50%, #1fa2da 50%, #1fa2da 100%);
  background: #DEDEDE linear-gradient(transparent 0%, transparent 50%, #1fa2da 50%, #1fa2da 100%);
  position: relative;
  width: 29px;
  height: 50px;
  margin: 22px auto;
  background-size: 100% 100%;
  border-radius: 29px;
  background-size: 225%;
  -webkit-animation: colorSlide 8s linear infinite, nudgeMouse 8s ease-out infinite;
          animation: colorSlide 8s linear infinite, nudgeMouse 8s ease-out infinite;
}
.mouse:before, .mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.mouse:before {
  width: 23px;
  height: 42px;
  background-color: #FFFFFF;
  border-radius: 23px;
}
.mouse:after {
  background-color: #1fa2da;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 8s linear infinite;
          animation: trackBallSlide 8s linear infinite;
}

@-webkit-keyframes colorSlide {
  0% {background-position: 0% 100%;}
  20% {background-position: 0% 0%;}
  21% {background-color: #DEDEDE;}
  29.99% {background-color: #1fa2da; background-position: 0% 0%;}
  30% {background-color: #DEDEDE; background-position: 0% 100%;}
  50% {background-position: 0% 0%;}
  51% {background-color: #DEDEDE;}
  59.99% {background-color: #1fa2da; background-position: 0% 0%;}
  60% {background-color: #DEDEDE; background-position: 0% 100%;}
  80% {background-position: 0% 0%;}
  81% {background-color: #DEDEDE;}
  89.99%, 100% {background-color: #1fa2da;}
}
@keyframes colorSlide {
  0% {background-position: 0% 100%;}
  20% {background-position: 0% 0%;}
  21% {background-color: #DEDEDE;}
  29.99% {background-color: #1fa2da; background-position: 0% 0%;}
  30% {background-color: #DEDEDE; background-position: 0% 100%;}
  50% {background-position: 0% 0%;}
  51% {background-color: #DEDEDE;}
  59.99% {background-color: #1fa2da; background-position: 0% 0%;}
  60% {background-color: #DEDEDE; background-position: 0% 100%;}
  80% {background-position: 0% 0%;}
  81% {background-color: #DEDEDE;}
  89.99%, 100% {background-color: #1fa2da;}
}
-moz-keyframes colorSlide {
  0% {background-position: 0% 100%;}
  20% {background-position: 0% 0%;}
  21% {background-color: #DEDEDE;}
  29.99% {background-color: #1fa2da; background-position: 0% 0%;}
  30% {background-color: #DEDEDE; background-position: 0% 100%;}
  50% {background-position: 0% 0%;}
  51% {background-color: #DEDEDE;}
  59.99% {background-color: #1fa2da; background-position: 0% 0%;}
  60% {background-color: #DEDEDE; background-position: 0% 100%;}
  80% {background-position: 0% 0%;}
  81% {background-color: #DEDEDE;}
  89.99%, 100% {background-color: #1fa2da;}
}
-o-keyframes colorSlide {
  0% {background-position: 0% 100%;}
  20% {background-position: 0% 0%;}
  21% {background-color: #DEDEDE;}
  29.99% {background-color: #1fa2da; background-position: 0% 0%;}
  30% {background-color: #DEDEDE; background-position: 0% 100%;}
  50% {background-position: 0% 0%;}
  51% {background-color: #DEDEDE;}
  59.99% {background-color: #1fa2da; background-position: 0% 0%;}
  60% {background-color: #DEDEDE; background-position: 0% 100%;}
  80% {background-position: 0% 0%;}
  81% {background-color: #DEDEDE;}
  89.99%, 100% {background-color: #1fa2da;}
}

@-webkit-keyframes trackBallSlide {
  0% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  6% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  14% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  15%, 19% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  28%, 29.99% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  30% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  36% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  44% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  45%, 49% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  58%, 59.99% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  60% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  66% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  74% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  75%, 79% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  88%, 100% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
}
@keyframes trackBallSlide {
  0% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  6% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  14% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  15%, 19% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  28%, 29.99% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  30% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  36% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  44% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  45%, 49% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  58%, 59.99% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  60% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  66% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  74% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  75%, 79% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  88%, 100% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
}
-moz-keyframes trackBallSlide {
  0% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  6% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  14% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  15%, 19% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  28%, 29.99% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  30% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  36% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  44% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  45%, 49% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  58%, 59.99% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  60% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  66% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  74% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  75%, 79% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  88%, 100% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
}
-o-keyframes trackBallSlide {
  0% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  6% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  14% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  15%, 19% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  28%, 29.99% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  30% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  36% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  44% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  45%, 49% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  58%, 59.99% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  60% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
  66% {opacity: 1; -moz-transform: scale(0.9) translateY(2.8px); -o-transform: scale(0.9) translateY(2.8px); -webkit-transform: scale(0.9) translateY(2.8px); transform: scale(0.9) translateY(2.8px);}
  74% {opacity: 0; -moz-transform: scale(0.4) translateY(22.4px); -o-transform: scale(0.4) translateY(22.4px); -webkit-transform: scale(0.4) translateY(22.4px); transform: scale(0.4) translateY(22.4px);}
  75%, 79% {opacity: 0; -moz-transform: scale(0.4) translateY(-11.2px); -o-transform: scale(0.4) translateY(-11.2px); -webkit-transform: scale(0.4) translateY(-11.2px); transform: scale(0.4) translateY(-11.2px);}
  88%, 100% {opacity: 1; -moz-transform: scale(1) translateY(-11.2px); -o-transform: scale(1) translateY(-11.2px); -webkit-transform: scale(1) translateY(-11.2px); transform: scale(1) translateY(-11.2px);}
}
@-webkit-keyframes nudgeMouse {
  0% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  20% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  30% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  50% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  60% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  80% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  90% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
}
@keyframes nudgeMouse {
  0% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  20% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  30% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  50% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  60% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  80% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  90% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
}
-moz-keyframes nudgeMouse {
  0% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  20% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  30% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  50% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  60% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  80% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  90% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
}
-o-keyframes nudgeMouse {
  0% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  20% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  30% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  50% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  60% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  80% {-moz-transform: translateY(8px); -o-transform: translateY(8px); -webkit-transform: translateY(8px); transform: translateY(8px);}
  90% {-moz-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
}

@media only screen and (max-width: 680px) {
	.col {
		margin: 0% 0 0% 0%;
	}
  .smart-wrap {
    width: 100%;
  }
  .logo {
    position: absolute;
  }
  #particles-js {
    position: relative;
  }
  .navigation {
    top: 0%;
    left: 0%;
    width: 75px;
    text-align: left;
    height: 75px;
    padding: 10px;
  }
}
@media only screen and (max-width: 680px) {

	.span_2_of_2, .span_1_of_2 { width: 100%; }

}
