html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  opacity: 0;
}
.fadeinbody {
  -webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  opacity: 1;
}
.fadeoutbody {
  -webkit-transition: all 700ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 700ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 700ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 700ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition-delay: 3s;
  -webkit-transition-delay: 3s;
  opacity: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
a, a:visited {
  text-decoration: none;
  color: inherit;
  outline: none;
}
canvas {
  display: block;
  vertical-align: bottom;
  opacity: 0.5;
}
.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
header {
  position: relative;
  background: #1fa2da;
  z-index: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background: rgba(3,16,20,1);
  background: -moz-linear-gradient(top, rgba(3,16,20,1) 0%, rgba(28,88,107,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,16,20,1)), color-stop(100%, rgba(28,88,107,1)));
  background: -webkit-linear-gradient(top, rgba(3,16,20,1) 0%, rgba(28,88,107,1) 100%);
  background: -o-linear-gradient(top, rgba(3,16,20,1) 0%, rgba(28,88,107,1) 100%);
  background: -ms-linear-gradient(top, rgba(3,16,20,1) 0%, rgba(28,88,107,1) 100%);
  background: linear-gradient(to bottom, rgba(3,16,20,1) 0%, rgba(28,88,107,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031014', endColorstr='#1c586b', GradientType=0 );
  background-size: 200%;
}
.logo {
  position: fixed;
  top: 29vh;
  left: 50%;
  margin-left: -145px;
  width: 290px;
  height: 290px;
  padding: 5px 0px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #FFF;
  font-weight: 300;
  letter-spacing: 0.4px;
  font-size: 24px;
  line-height: 31px;
  border-radius: 1px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 500;
  pointer-events: none;
  /*background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0.75)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );*/
  /*BOX SHADOWS FOR SKROLLR
  -webkit-box-shadow: -12px 24px 33px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: -12px 24px 33px -2px rgba(0,0,0,0.3);
  box-shadow: -12px 24px 33px -2px rgba(0,0,0,0.3);
  TO-->
  -webkit-box-shadow: 37px -33px 33px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 37px -33px 33px -2px rgba(0,0,0,0.3);
  box-shadow: 37px -33px 33px -2px rgba(0,0,0,0.3);*/
  /*background: rgba(42, 69, 80, 0.09);
  -webkit-box-shadow: -20px 20px 39px -5px rgba(0,0,0,0.4);
  -moz-box-shadow: -20px 20px 39px -5px rgba(0,0,0,0.4);
  box-shadow: -20px 20px 39px -5px rgba(0,0,0,0.4);*/
}
.logoholder {
  position: relative;
  margin: 0 auto;
}
.logovec {
  position: relative;
  margin: 0px auto;
  stroke: #FFF;
  max-width: 130px;
  text-align: center;
  stroke-dasharray: 752.8801,188.22;
  fill:none;stroke-width:55;stroke-miterlimit:10;
  animation-name: logoanim;
  animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  animation-duration: 5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: logoanim;
  -moz-animation-name: logoanim;
  -o-animation-name: logoanim;
  -webkit-animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-animation-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  opacity: 0;
}


.pllax-bk {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background: url('https://unsplash.it/1600/1080/?random');
  background-size: cover;
  position: fixed;
  background-repeat: no-repeat;;
  top: 0px;
  left: 0px;
  opacity: 0.4;
  width: 100%;
  height: 150vh;
}
.container {
  width: 60%;
  max-width: 60%;
  margin: 0 auto;
}
.center {text-align: center;}
h3 {
  color: #1fa2da;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.2px;
  margin: 15px auto;
}
.main-text {
  color: #666666;
  font-size: 20px;
  font-weight: 100;
  width: 680px;
  line-height: 31px;
  max-width: 100%;
  margin: 0 auto;
}
strong {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
section {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: #FFF;
  padding: 100px 0px;
}
.section-one {
  padding-bottom: 270px;
}
.tilesetbg {
  position: absolute;
  top: 0;
  height: 700px;
  overflow: hidden;
  z-index: 0;
  max-width: 100%;
  background: #000;
}
.tilesetbg, .tilesetbg img, .pllax-bk {
  webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.black-bg {
  background: #000;
}
.tile-one {
  height: 440px;
  text-align: center;
  transform: translateY(-200px);
  color: #FFFFFF;
  line-height: 440px;
}
.black-bg {
  background: #000;
}
.blue-bg {
  background: #1fa2da;
}
.smart-wrap {
  position: relative;
  margin: 0 auto;
  width: calc(100% - 300px);
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 0;
  perspective: 800px;
  perspective-origin: 50% 0;
  -o-perspective: 800px;
  -o-perspective-origin: 50% 0;
  padding: 0;
  height: 87px;
  display: block;
  margin-top: -86px;
}
.smart-bar {
  padding: 0 0;
  background: #FFF;
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 87px;
  height: 87px;
  -webkit-box-shadow: 0px -8px 21px -11px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -8px 21px -11px rgba(0,0,0,0.3);
  box-shadow: 0px -8px 21px -11px rgba(0,0,0,0.3);
  backface-visibility: hidden;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 0px 115px;
  -webkit-transform-origin: 0px 115px;
  -moz-transform-origin: 0px 115px;
  -o-transform-origin: 0px 115px;
}
.section-shadow {
  -webkit-box-shadow: 0px -4px 45px -6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -4px 45px -6px rgba(0,0,0,0.3);
  box-shadow: 0px -4px 45px -6px rgba(0,0,0,0.3);
}



.grid-container * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.grid-container{
  margin: 0 auto;
  width: 1080px;
  max-width: 100%;
}
[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    padding: 15px;
}
.row:before,
.row:after {
    content:"";
    display: table;
    clear:both;
}
.col-1{ width: 16.66%; }
.col-1q{ width: 25%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;}
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }


.behindov {
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  z-index: 997;
  opacity: 0;
  background-size: 400% 400%;
  -webkit-transition: all 1200ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -moz-transition: all 1200ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -o-transition: all 1200ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transition: all 1200ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -webkit-transition-delay: 0.1s;
  cursor: pointer;
  transition-delay: 0.1s;
  background: rgba(39,55,61,0.8);
  background: -moz-linear-gradient(top, rgba(39,55,61,0.8) 0%, rgba(19,28,31,0.8) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39,55,61,0.8)), color-stop(100%, rgba(19,28,31,0.8)));
  background: -webkit-linear-gradient(top, rgba(39,55,61,0.8) 0%, rgba(19,28,31,0.8) 100%);
  background: -o-linear-gradient(top, rgba(39,55,61,0.8) 0%, rgba(19,28,31,0.8) 100%);
  background: -ms-linear-gradient(top, rgba(39,55,61,0.8) 0%, rgba(19,28,31,0.8) 100%);
  background: linear-gradient(to bottom, rgba(39,55,61,0.8) 0%, rgba(19,28,31,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27373d', endColorstr='#131c1f', GradientType=0 );
}

.behindov:active {
opacity: 1;
}
.appear {
  opacity: 0.9;
  pointer-events: all;
}
nav {
  position: fixed;
  top: 0px;
  left: -550px;
  width: 540px;
  padding-right: 10px;
  background: #FFF;
  z-index: 998;
  -webkit-transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -moz-transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -o-transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  height: 100vh;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}
nav::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
nav::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
nav::-webkit-scrollbar-thumb {
  background: #1fa2da;
  border: 0px none rgba(255,255,255,0);
  border-radius: 3px;
}
nav::-webkit-scrollbar-thumb:hover {
  background: #1fa2da;
}
nav::-webkit-scrollbar-thumb:active {
  background: #1fa2da;
}
nav::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 3px;
}
nav::-webkit-scrollbar-track:hover {
  background: transparent;
}
nav::-webkit-scrollbar-track:active {
  background: transparent;
}
nav::-webkit-scrollbar-corner {
  background: transparent;
}
.noscroll {
  overflow-y: hidden;
}
nav ul {
  list-style-type: none;
  color: #97999a;
  position: relative;
  margin: 0px auto;
  width: 400px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1.5px;
  top: 325px;
  opacity: 0;
  -webkit-transition: all 1.4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -moz-transition: all 1.4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -o-transition: all 1.4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition: all 1.4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -webkit-transform: translateX(375px);
  -moz-transform: translateX(375px);
  -o-transform: translateX(375px);
  transform: translateX(375px);
  transition-delay: 0.7s;
  -webkit-transition-delay: 0.7s;
}
nav li {
  padding: 16px 0px 2px 0px;
  cursor: pointer;
  margin: 0px 0px 1px 0px;
  -webkit-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
   -moz-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
     -o-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
        transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
nav li:hover {
color: #656566;
}
nav li:after {
  width: 0%;
  height: 3px;
  content: '';
  background: rgba(31, 162, 218, 0);
  display: block;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
nav li:hover:after {
  width: 31%;
  background: rgba(31, 162, 218, 1);
}

.followus {
  list-style-type: none;
  display: block;
  border-top: 3px solid rgba(90,90,90,0.15);
  position: relative;
  margin: 50px 0 0 0;
  margin-left: 100px;
  width: 370px;
  color: rgba(90,90,90,0.5);
  opacity: 0;
  padding: 0 0;
  font-weight: 500;
  letter-spacing: 1.7px;
  -webkit-transition: all 1.4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -moz-transition: all 1.4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -o-transition: all 1.4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition: all 1.4s cubic-bezier(0.860, 0.000, 0.070, 1.000);
  -webkit-transform: translateX(-375px);
  -moz-transform: translateX(-375px);
  -o-transform: translateX(-375px);
  transform: translateX(-375px);
  transition-delay: 1.2s;
  -webkit-transition-delay: 1.2s;
  font-size: 11px;
}
.followus li {
  padding: 5px 0;
  display: inline-block;
  height: 50px;
  line-height: 10px;
  text-align: center;
  width: 30px;
}
.followus li:first-child {
  text-align: left;
  width: 260px;
}
.followus li:hover:after {
  width: 0%;
}
.followus li:first-child:hover {
  color: rgba(90,90,90,0.5);
  cursor: initial;
}
.active {
  color: #1fa2da;
}
.active:hover {
  color: #1fa2da;
}
.active:after {
  width: 100%;
  background: #1fa2da;
}
.active:hover:after {
  width: 100%;
}
.mmbb {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.bringmenu {
  opacity: 1;
  -webkit-transform: translateX(27px);
  -moz-transform: translateX(27px);
  -o-transform: translateX(27px);
  transform: translateX(27px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.opennav {
  left: 0px;
  -webkit-transition: all 700ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
     -moz-transition: all 700ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
       -o-transition: all 700ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
          transition: all 700ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.navigation {
  position: fixed;
  top: 270px;
  left: -160px;
  z-index: 999;
  background: rgba(255,255,255,1);
  height: auto;
  width: 150px;
  height: 200px;
  padding: 0 0;
  line-height: 30px;
  text-align: right;
  -webkit-transition: all 360ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -moz-transition: all 360ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -o-transition: all 360ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition: all 360ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  cursor: pointer;
  border-left: none;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  box-shadow: 1px 4px 6px rgba(0,0,0,0.16), 1px 4px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 1px 4px 6px rgba(0,0,0,0.16), 1px 4px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 1px 4px 6px rgba(0,0,0,0.16), 1px 4px 6px rgba(0,0,0,0.23);
}
.bringinnav {
  -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
     -moz-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
       -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
          transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
  left: 0px;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}
.sidelogo {
  position: relative;
  margin: 40px 18px 4px auto;
  width: 65px;
  float: right;
  text-align: center;
  border-bottom: 3px solid rgba(255,255,255,0);
  padding-bottom: 7px;
  padding-top: 5px;
  padding-left: 13px;
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.sideborder {
  border-bottom: 3px solid rgba(31,162,218,1);
}
.sidelogoimage {
  max-width: 34px;
  margin-right: 22px;
}
.icon-wrap {
  position: relative;
  margin: 0px 24px 0px 0px;
  display:inline-block;
  cursor: pointer;
  width: 120px;
  padding: 0 0;
  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.hammenu {
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
}
.spinload {
  animation-name: spinloader;
  -webkit-animation-name: spinloader;
  -moz-animation-name: spinloader;
  -o-animation-name: spinloader;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  -o-animation-duration: 6s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -moz-animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
  -o-animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}
.spinning {
width: 55px;
height: 55px;
}


.scaleup {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.9;
}
.navisopen {
  left: -47px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.menubox {
  stroke:#1fa2da;
  stroke-linecap:round;
  stroke-width:100;
}
.fading {
  opacity: 0.7;
}
path.x {
  stroke-dashoffset:-1490;
  stroke-dasharray:840 2000;
  stroke-miterlimit:10;
}
path.o {
  stroke-dashoffset:1700;
  stroke-dasharray:2520 3000;
  stroke-miterlimit:10;
}
path.yy {
  stroke-dashoffset:1700;
  stroke-dasharray:2520 3000;
  transition: 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition: 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition: 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition: 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.toClose path.yy {
  stroke-dashoffset:-1200;
  transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
path.x2 {
  transform:rotate(0deg) translateX(0px);
  -webkit-transform:rotate(0deg) translateX(0px);
  -moz-transform:rotate(0deg) translateX(0px);
  -o-transform:rotate(0deg) translateX(0px);
  transform-origin:right center;
  -webkit-transform-origin:right center;
  -moz-transform-origin:right center;
  -o-transform-origin:right center;
  transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.toClose path.x2:first-of-type {
  transform:rotate(-45deg) translate(-80px, -80px);
  -webkit-transform:rotate(-45deg) translate(-80px, -80px);
  -moz-transform:rotate(-45deg) translate(-80px, -80px);
  -o-transform:rotate(-45deg) translate(-80px, -80px);

}
.toClose path.x2 {
  transform:rotate(45deg) translate(-80px, 80px);
  -webkit-transform:rotate(45deg) translate(-80px, 80px);
  -moz-transform:rotate(45deg) translate(-80px, 80px);
  -o-transform:rotate(45deg) translate(-80px, 80px);
  transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
circle {
  fill:transparent;
  transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.toClose circle {
  fill:rgba(0,0,0,.3);
  transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -webkit-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition:720ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.toClose svg path.x {
  animation: toCloseX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -webkit-animation: toCloseX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -moz-animation: toCloseX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -o-animation: toCloseX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
}
.toClose svg path.o {
  animation: toCloseO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -webkit-animation: toCloseO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -moz-animation: toCloseO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -o-animation: toCloseO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
}
.toOpen svg path.x {
  animation: toOpenX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -webkit-animation: toOpenX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -moz-animation: toOpenX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -o-animation: toOpenX 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
}
.toOpen svg path.o {
  animation: toOpenO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -webkit-animation: toOpenO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -moz-animation: toOpenO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
  -o-animation: toOpenO 720ms cubic-bezier(0.230, 1.000, 0.320, 1.000) forwards;
}
.fillwhite {
  stroke: #FFF;
}
.mouse {
  background: #DEDEDE -webkit-linear-gradient(transparent 0%, transparent 50%, #1fa2da 50%, #1fa2da 100%);
  background: #DEDEDE linear-gradient(transparent 0%, transparent 50%, #1fa2da 50%, #1fa2da 100%);
  position: relative;
  width: 29px;
  height: 50px;
  margin: 17px auto;
  background-size: 100% 100%;
  border-radius: 29px;
  background-size: 225%;
  -webkit-animation: colorSlide 8s linear infinite, nudgeMouse 8s ease-out infinite;
  animation: colorSlide 8s linear infinite, nudgeMouse 8s ease-out infinite;
  -moz-animation: colorSlide 8s linear infinite, nudgeMouse 8s ease-out infinite;
  -o-animation: colorSlide 8s linear infinite, nudgeMouse 8s ease-out infinite;
}
.mouse:before, .mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.mouse:before {
  width: 23px;
  height: 42px;
  background-color: #FFFFFF;
  border-radius: 23px;
}
.mouse:after {
  background-color: #1fa2da;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  -webkit-animation: trackBallSlide 8s linear infinite;
  animation: trackBallSlide 8s linear infinite;
  -moz-animation: trackBallSlide 8s linear infinite;
  -o-animation: trackBallSlide 8s linear infinite;
}




.queryloader__overlay__bar {
    top: 0px !important;
}
#qLoverlay::after {
    position:absolute;
    content:url('../img/bload.png');
    left:0;
    right:0;
    bottom:45%;
    width: 100%;
    text-align: center;
    opacity: 0;
    font-size:21px;
    letter-spacing: 0.6px;
    color:#1fa2da;
    animation: fadeinq 2s ease infinite;
    -webkit-animation: fadeinq 2s ease infinite;
    -moz-animation: fadeinq 2s ease infinite;
    -o-animation: fadeinq 2s ease infinite;
}
@media only screen and (max-width: 860px) {

  .col-1, .col-2, .col-4, .col-3, .col-5, .col-1q {width: 100%;}

  .smart-wrap {
    width: 100%;
  }
  .logo {
    position: absolute;
  }
  #particles-js {
    position: relative;
  }
  .icon-wrap svg {
    width: 45px;
    height: 45px;
  }
  .spinning {
  width: 45px;
  height: 45px;
  }
  .logovec {
    max-width: 90px;
  }
  .logo {
    font-size: 26px;
  }
  .smart-wrap, .smart-bar {display: none;}
  nav {
    top: 0;
    left: -280px;
    width: 270px;
  }
  nav ul {
    width: 100%;
    top: 70px;
    margin: 0 0 0 0;
    left: 0;
    padding: 20px;
    font-size: 18px;
    letter-spacing: 1px;
  }
  nav li {
    padding: 25px 0px 3px 0px;
  }
  .navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    padding: 10px;
    text-align: left;
    -webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.4);
  }
  .sidelogo {
    position: absolute;
    top: 15px;
    left: 60px;
    height: 62px;
    padding: 0 0 0 0;
    margin: 0 auto;
    border-bottom: none !important;
  }
  .sidelogoimage {
    max-width: 24px;
  }
  .bringmenu {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
  .navisopen {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  .followus {
  margin: 25px auto;
  width: 220px;
  padding: 1px 0px;
  }
  .followus li {
    width: auto !important;
    text-align: right;
  }
  .followus li:first-child {
    width: 100px !important;
    text-align: left;
  }
}
